/* There are 3 main waysa to bring in fonts to our projetcs
1. use a system font/font stack (something the user already haśinstalled on their machine)
2. use an online font library (such as google fonts) 
3. use a custom font. *note this is not the besrt option for performance
*/

@font-face {
    font-family: 'typewriter';
    src: url('../fonts/veteran_typewriter_regular-webfont.woff2') format('woff2'),
        url('../fonts/veteran_typewriter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* for performance reasons and to avoid invisible text during font load */
    font-display: swap;
}

body {
    /* //Place the base, paragraphfont styluing on the body element */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-family: 'typewriter', Courier New, sans-serif;
    background-color: #dedcda;

}

h2 {
    font-family: 'Beth Ellen', cursive;
    background-color: #3b373f;
}

section {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}